supervised_learning/object_detection/yolo.h5
unsupervised_learning/dimensionality_reduction/mnist2500_labels.txt
unsupervised_learning/dimensionality_reduction/mnist2500_X.txt
unsupervised_learning/dimensionality_reduction/__pycache__/0-pca.cpython-312.pyc
supervised_learning/RNNs/__pycache__/0-rnn_cell.cpython-310.pyc
.gitignore
supervised_learning/time_series/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv
supervised_learning/time_series/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv
supervised_learning/time_series/bitstampUSD.csv
supervised_learning/time_series/coinbaseUSD.csv
supervised_learning/transformer_apps/__pycache__/0-dataset.cpython-39.pyc
supervised_learning/transformer_apps/__pycache__/1-dataset.cpython-39.pyc
supervised_learning/transformer_apps/__pycache__/2-dataset.cpython-39.pyc
supervised_learning/transformer_apps/__pycache__/3-dataset.cpython-39.pyc
supervised_learning/transformer_apps/__pycache__/4-create_masks.cpython-39.pyc
supervised_learning/qa_bot/0-qa.py
supervised_learning/qa_bot/__MACOSX/._ZendeskArticles
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._.DS_Store
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._AcademicStanding.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CampusTransfers.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Cheating-Examples.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Cheating-Overview.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ChiefAudio_VideoOfficer.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ChiefFeedbackOfficerDuty.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ChiefKitchenOfficer.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ChiefOfficerDuties.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ChiefOpen-SpaceOfficer.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ComputerandInternetUsagePolicy.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumFAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumFAQ2.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumFAQ3.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumFAQ4.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumFAQ5.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumFAQ6.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._CurriculumOverview.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Debugging.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._EvaluationQuizScoring.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._EvaluationQuizzes.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Events-FiresideChats.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Events-Hackathons.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Events-TechnicalPresentations.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Events.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Food&Beverage.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._GithubStudentDeveloperPack.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._HackDay.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Internet&WiFi.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Intranet-Profilenames.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Intranet-Search.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Intranet-SyllabusOverview.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._LiveCoding.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._MockInterviews-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._MockInterviews-Help.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._MockInterviews-Pairing.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._MockInterviews-Process.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._MockInterviews-Scripts.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._MockInterviews.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._OfficeHours.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._PeerLearningDays.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Pods.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._PrintingPolicy-SF.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProfessionalAdvisors-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProfessionalAdvisors.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProfessionalTrack-PTO.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProfessionalTrack-Tardiness.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProfessionalTrack.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-BrokenChecker.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-Checker.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-CheckTypes.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-Contribution.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-FAQ2.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-GitHub.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-Grades.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-OptionalProjects.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-Regrades.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring-TaskLevel.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectScoring.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._ProjectTypes.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Roundtables.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._SexualHarrassment.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._SFCampusAccess.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._SpeakeroftheDay-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._SpeakeroftheDay.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Specializations-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Specializations-FAQ1.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Specializations-FAQ2.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Specializations-FAQ3.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Specializations-FAQ4.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Specializations.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._SpecializationValidation-Criteria.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._SpecializationValidation.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._StandUp.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._StudentDismissal-Academic.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._StudentDismissal-Behavioral.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._StudentDismissal.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._StudentTransfers-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._StudentTransfers.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._TechnicalWriting-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._TechnicalWriting.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._TextEditors.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._TheFramework.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WeekZero-FAQ.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WeekZero.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._Withdrawals-Overview.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WorkingRemotely-Communication.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WorkingRemotely-CreatingSpace.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WorkingRemotely-Purpose&Routine.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WorkingRemotely-SettingBoundaries.md
supervised_learning/qa_bot/__MACOSX/ZendeskArticles/._WorkingRemotely-TimeManagement.md
supervised_learning/qa_bot/__pycache__/0-qa.cpython-39.pyc
supervised_learning/qa_bot/ZendeskArticles/.DS_Store
supervised_learning/qa_bot/ZendeskArticles/AcademicStanding.md
supervised_learning/qa_bot/ZendeskArticles/CampusTransfers.md
supervised_learning/qa_bot/ZendeskArticles/Cheating-Examples.md
supervised_learning/qa_bot/ZendeskArticles/Cheating-Overview.md
supervised_learning/qa_bot/ZendeskArticles/ChiefAudio_VideoOfficer.md
supervised_learning/qa_bot/ZendeskArticles/ChiefFeedbackOfficerDuty.md
supervised_learning/qa_bot/ZendeskArticles/ChiefKitchenOfficer.md
supervised_learning/qa_bot/ZendeskArticles/ChiefOfficerDuties.md
supervised_learning/qa_bot/ZendeskArticles/ChiefOpen-SpaceOfficer.md
supervised_learning/qa_bot/ZendeskArticles/ComputerandInternetUsagePolicy.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumFAQ.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumFAQ2.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumFAQ3.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumFAQ4.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumFAQ5.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumFAQ6.md
supervised_learning/qa_bot/ZendeskArticles/CurriculumOverview.md
supervised_learning/qa_bot/ZendeskArticles/Debugging.md
supervised_learning/qa_bot/ZendeskArticles/EvaluationQuizScoring.md
supervised_learning/qa_bot/ZendeskArticles/EvaluationQuizzes.md
supervised_learning/qa_bot/ZendeskArticles/Events-FiresideChats.md
supervised_learning/qa_bot/ZendeskArticles/Events-Hackathons.md
supervised_learning/qa_bot/ZendeskArticles/Events-TechnicalPresentations.md
supervised_learning/qa_bot/ZendeskArticles/Events.md
supervised_learning/qa_bot/ZendeskArticles/Food&Beverage.md
supervised_learning/qa_bot/ZendeskArticles/GithubStudentDeveloperPack.md
supervised_learning/qa_bot/ZendeskArticles/HackDay.md
supervised_learning/qa_bot/ZendeskArticles/Internet&WiFi.md
supervised_learning/qa_bot/ZendeskArticles/Intranet-Profilenames.md
supervised_learning/qa_bot/ZendeskArticles/Intranet-Search.md
supervised_learning/qa_bot/ZendeskArticles/Intranet-SyllabusOverview.md
supervised_learning/qa_bot/ZendeskArticles/LiveCoding.md
supervised_learning/qa_bot/ZendeskArticles/MockInterviews-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/MockInterviews-Help.md
supervised_learning/qa_bot/ZendeskArticles/MockInterviews-Pairing.md
supervised_learning/qa_bot/ZendeskArticles/MockInterviews-Process.md
supervised_learning/qa_bot/ZendeskArticles/MockInterviews-Scripts.md
supervised_learning/qa_bot/ZendeskArticles/MockInterviews.md
supervised_learning/qa_bot/ZendeskArticles/OfficeHours.md
supervised_learning/qa_bot/ZendeskArticles/PeerLearningDays.md
supervised_learning/qa_bot/ZendeskArticles/Pods.md
supervised_learning/qa_bot/ZendeskArticles/PrintingPolicy-SF.md
supervised_learning/qa_bot/ZendeskArticles/ProfessionalAdvisors-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/ProfessionalAdvisors.md
supervised_learning/qa_bot/ZendeskArticles/ProfessionalTrack-PTO.md
supervised_learning/qa_bot/ZendeskArticles/ProfessionalTrack-Tardiness.md
supervised_learning/qa_bot/ZendeskArticles/ProfessionalTrack.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-BrokenChecker.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-Checker.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-CheckTypes.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-Contribution.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-FAQ2.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-GitHub.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-Grades.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-OptionalProjects.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-Regrades.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring-TaskLevel.md
supervised_learning/qa_bot/ZendeskArticles/ProjectScoring.md
supervised_learning/qa_bot/ZendeskArticles/ProjectTypes.md
supervised_learning/qa_bot/ZendeskArticles/Roundtables.md
supervised_learning/qa_bot/ZendeskArticles/SexualHarrassment.md
supervised_learning/qa_bot/ZendeskArticles/SFCampusAccess.md
supervised_learning/qa_bot/ZendeskArticles/SpeakeroftheDay-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/SpeakeroftheDay.md
supervised_learning/qa_bot/ZendeskArticles/Specializations-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/Specializations-FAQ1.md
supervised_learning/qa_bot/ZendeskArticles/Specializations-FAQ2.md
supervised_learning/qa_bot/ZendeskArticles/Specializations-FAQ3.md
supervised_learning/qa_bot/ZendeskArticles/Specializations-FAQ4.md
supervised_learning/qa_bot/ZendeskArticles/Specializations.md
supervised_learning/qa_bot/ZendeskArticles/SpecializationValidation-Criteria.md
supervised_learning/qa_bot/ZendeskArticles/SpecializationValidation.md
supervised_learning/qa_bot/ZendeskArticles/StandUp.md
supervised_learning/qa_bot/ZendeskArticles/StudentDismissal-Academic.md
supervised_learning/qa_bot/ZendeskArticles/StudentDismissal-Behavioral.md
supervised_learning/qa_bot/ZendeskArticles/StudentDismissal.md
supervised_learning/qa_bot/ZendeskArticles/StudentTransfers-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/StudentTransfers.md
supervised_learning/qa_bot/ZendeskArticles/TechnicalWriting-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/TechnicalWriting.md
supervised_learning/qa_bot/ZendeskArticles/TextEditors.md
supervised_learning/qa_bot/ZendeskArticles/TheFramework.md
supervised_learning/qa_bot/ZendeskArticles/WeekZero-FAQ.md
supervised_learning/qa_bot/ZendeskArticles/WeekZero.md
supervised_learning/qa_bot/ZendeskArticles/Withdrawals-Overview.md
supervised_learning/qa_bot/ZendeskArticles/WorkingRemotely-Communication.md
supervised_learning/qa_bot/ZendeskArticles/WorkingRemotely-CreatingSpace.md
supervised_learning/qa_bot/ZendeskArticles/WorkingRemotely-Purpose&Routine.md
supervised_learning/qa_bot/ZendeskArticles/WorkingRemotely-SettingBoundaries.md
supervised_learning/qa_bot/ZendeskArticles/WorkingRemotely-TimeManagement.md
supervised_learning/qa_bot/__pycache__/3-semantic_search.cpython-39.pyc
supervised_learning/qa_bot/__pycache__/2-qa.cpython-39.pyc
reinforcement_learning/q_learning/__pycache__/0-load_env.cpython-39.pyc
reinforcement_learning/q_learning/__pycache__/1-q_init.cpython-39.pyc
reinforcement_learning/q_learning/__pycache__/2-epsilon_greedy.cpython-39.pyc
reinforcement_learning/deep_q_learning/dqn.py
reinforcement_learning/deep_q_learning/play.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/msgpack_numpy.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/observe.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/play.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/pytorch_wrappers.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/__init__.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/atari_wrappers.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/dummy_vec_env.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/LICENSE
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/monitor.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/subproc_vec_env.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/util.py
reinforcement_learning/q_learning/__pycache__/3-q_learning.cpython-39.pyc
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/wrappers.py
reinforcement_learning/deep_q_learning/dqn_atari_tutorial_starter_code/baselines_wrappers/vec_env.py
